*.pyc
__pycache
.DS_Store
.env.dev
.env.prod
.env.prod.db
.idea
.ipynb_checkpoints
.mypy_cache
# .vscode
__pycache__
.pytest_cache
htmlcov
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
.venv
docs.zip
archive.zip
.report.json
# vim temporary files
*~
.*.sw?
.venv*
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
.Python build/
build
