[run]
branch = True
source =
    project
    tests
[paths]
source =
    project
[report]
fail_under = 50
show_missing = true
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
